#include "winres.h"
#include "src/thprac/thprac_version.h"
#include "src/thprac/thprac_fork.h"

#define STRR(X) #X
#define STR(X) STRR(X) 

1 ICON "icon.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION THPRAC_FORK_VERSION_NUMBERS
 PRODUCTVERSION THPRAC_FORK_VERSION_NUMBERS
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040004b0"
        BEGIN
            VALUE "FileVersion", THPRAC_FORK_VERSION
            VALUE "ProductVersion", THPRAC_FORK_VERSION
			VALUE "FileDescription", "thprac-th06nc - Unofficial Touhou Practice Tool"
			VALUE "InternalName", "thprac-th06nc.exe"
            VALUE "OriginalFilename", "thprac-th06nc.exe"
            VALUE "ProductName", "thprac-th06nc"
			VALUE "LegalCopyright", "Copyright (c) 2022 Ack; thprac and th06nc fork contributors"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x400, 1200
    END
END
